<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pages/styles/layout.css' %}">
    <script src="{% static 'pages/scripts/layout.js' %}" defer></script>
    <title>Bystrová NS: Layout</title>
</head>
<body>
    <header id="header">
        <nav class="menu">
            <a class="home" href="#">Domů</a>
            <button data-menu="off">
                <svg class="open" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
                <svg class="close" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
            </button>
        </nav>
        <nav class="menu-list" data-menu="off">
            <ul>
                <li><a href="#">Služby</a></li>
                <li><a href="#">Kontakty</a></li>
                <li><a href="#">Obchůdek</a></li>
            </ul>
        </nav>
    </header>

    <main id="main">
        <div class="overlay" data-menu="off"></div>
        <div class="page-layout">
            <h1>Layout</h1>
            <p>This is my Layout Page.</p>
            <article>
                <h2>Article</h2>
                <p>This is "h2" and "p" in article.</p>
                <ul>ul header:
                    <li>One li</li>
                    <li>Two li</li>
                </ul>
                <section>
                    <h3>Section h3</h3>
                </section>
            </article>
        </div>
    </main>
    
    <footer id="footer">
        <a href="#header">Zpět nahoru</a>
    </footer>
</body>
</html>