{% extends 'pages/layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'pages/styles/services.css' %}">
{% endblock styles %}

{% block title %}
<title>Bystrová NS: Služby</title>
{% endblock title %}

{% block main %}
<div class="page services">
    <h1>SLUŽBY</h1>

    <article class="main">
        <section class="package-deal">
            <h3><span>🎁</span>Zvýhodněné balíčky</h3>
            <ol>
                <li>
                    <div><span>Princezna</span><span>1 550,-</span></div>
                    <ul><li>manikúra a pedikúra s peelingem</li></ul>
                </li>
                <li>
                    <div><span>Královna</span><span>1 790,-</span></div>
                    <ul><li>princezna s gellakem</li></ul>
                </li>
                <li>
                    <div><span>Císařka</span><span>2 000,-</span></div>
                    <ul><li>kompletní péče o ruce a nohy</li></ul>
                </li>
            </ol>
        </section>

        <section class="manicure">
            <h3><span>💅</span>Manikúra</h3>
            <ol>
                <li><div><span>Manikúra</span><span>580,-</span></div></li>
                <li><div><span>Manikúra + P.Shine</span><span>690,-</span></div></li>
                <li><div><span>Manikúra + Gellak</span><span>800,-</span></div></li>
                <li><div><span>Ombré manikúra</span><span>1 100,-</span></div></li>
                <li><div><span>Francouzská manikúra</span><span>1 100,-</span></div></li>
                <li><div><span>Nová modeláž</span><span>od 1 400,-</span></div></li>
            </ol>
        </section>

        <section class="pedicure">
            <h3><span>🦶</span>Pedikúra</h3>
            <ol>
                <li><div><span>Pedikúra</span><span>850,-</span></div></li>
                <li><div><span>Pedikúra + Gellak</span><span>980,-</span></div></li>
                <li><div><span>Francouzská pedikúra</span><span>1 100,-</span></div></li>
                <li><div><span>Pedikúra se zvýšenou péčí</span><span>1 050,-</span></div></li>
            </ol>
        </section>

        <section class="extras">
            <h3><span>✨</span>Doplňkové služby</h3>
            <ol>
                <li><div><span>Peeling rukou</span><span>100,-</span></div></li>
                <li><div><span>Peeling nohou</span><span>120,-</span></div></li>
                <li><div><span>Hydratační kúra na nohy</span><span>50,-</span></div></li>
                <li><div><span>Zdobení 2-ou nehtů</span><span>80,-</span></div></li>
                <li><div><span>Zdobení 5-ti nehtů</span><span>180,-</span></div></li>
                <li><div><span>Odstranění materiálu rukou</span><span>120,-</span></div></li>
                <li><div><span>Odstranění materiálu nohou</span><span>100,-</span></div></li>
            </ol>
        </section>
    </article>
</div>
{% endblock main %}