{% extends 'pages/layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'eshop/styles/eshop.css' %}">
{% endblock styles %}

{% block title %}
<title>Bystrová NS: Obchůdek</title>
{% endblock title %}

{% block main %}
<div class="page eshop">
    <h1>OBCHŮDEK</h1>
    <p class="slogan">«👋 Nejeď bez košíku!»</p>

    <article class="main">
        <h2>Jak na to</h2>
        <ol class="how-it-works">
            <li>Vyber kategorii.</li>
            <li>Přidej zboží do košíku.</li>
            <li>
                A poté v košíku dokončí objednávku.
                <ul><li>košík je nahoře uprostřed</li></ul>
            </li>
        </ol>

        <section class="category">
            <h3>Kategorie</h3>
            <ol>
                <li><a href="#">Kosmetika</a></li>
                <li><a href="#">Rakousko</a></li>
            </ol>
        </section>
    </article>
</div>
{% endblock main %}