@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --bg-color: rgb(1, 43, 54);
    --text-color: rgb(131, 148, 150);
    --hover-color: rgb(7, 54, 67);
    --border-color: rgb(3, 64, 83);

    --link-color: rgb(227, 121, 52);
    --header-color: rgb(140, 160, 165);
    --attention-color: rgb(211, 54, 130);
}

h1, h2, h3, h4, h5, h6{color: var(--header-color);}

html{
    background-color: var(--bg-color);

    font-family: "Gentium Book Plus";
    color: var(--text-color);
    font-size: 1.25em;

    scroll-behavior: smooth;
}


body{
    position: relative;
    
    max-width: 1024px;

    margin: 0 auto;
}


header{
    font-family: "Poppins";
}


header nav.bar{
    display: flex;
    justify-content: space-between;
}

header nav.bar a{
    padding: 1em 1.25em;

    color: var(--link-color);
    text-underline-offset: 0.1875em;

    transition: background-color 0.5s ease-out;
}
header nav.bar a:hover{
    background-color: var(--hover-color);
}

header nav.bar button{
    margin: 0;
    border: none;
    padding: 0 1.25rem;

    background: none;
    
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}
header nav.bar button:hover{
    background-color: var(--hover-color);
}

header nav.bar button svg{
    display: none;

    width: 50px;
    height: 50px;
}
header nav.bar button[data-bar-status="off"] svg.open{
    display: flex;
    
    fill: green;
}
header nav.bar button[data-bar-status="on"] svg.close{
    display: flex;

    fill: red;
}

header nav.bar-list{
    max-height: 0;
    overflow: hidden;

    border-block: 2px solid var(--border-color);

    transition: max-height 1s ease-out;
}

header nav.bar-list ul{
    max-width: 60%;

    margin: 0 auto 1em;
    padding-inline-start: 0;
}

header nav.bar-list ul li{
    display: flex;

    border-bottom: 1px solid var(--border-color);
}

header nav.bar-list ul li a{
    flex: 1;
    text-align: center;

    padding-block: 0.75em 0.5em;

    font-size: 0.875em;
    color: var(--text-color);
    text-decoration: none;
}
header nav.bar-list ul li a:hover{
    background-color: var(--hover-color);
}


main{
    position: relative;

    text-align: center;
}

main div.bar-overlay[data-bar-status="on"]{
    position: absolute;
    
    width: 100%;
    height: 100%;

    background-color: var(--bg-color);
    opacity: 0.8;
}


footer{
    text-align: center;

    border-top: 4px solid var(--border-color);

    font-family: "Poppins";
}

footer a{
    display: block;

    padding: 1em 1.25em;

    color: var(--link-color);
    text-underline-offset: 0.1875em;

    transition: background-color 0.5s ease-out;
}
footer a:hover{
    background-color: var(--hover-color);
}
