div.page.eshop h1{
text-align: center;
}

div.page.eshop p.slogan{
    text-align: center;

    font-size: 1.125em;
}

div.page.eshop article.main h2{
    padding-block: 0.25em;
    padding-inline-start: 0.5em;

    background-color: var(--hover-color);
}

div.page.eshop article.main ol.how-it-works li ul li{
    font-style: italic;
    font-size: 0.875em;
}

div.page.eshop article.main section.category h3{
    padding-block: 0.25em;
    padding-inline-start: 0.5em;

    background-color: var(--hover-color);
}
div.page.eshop article.main section.category ol{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    padding-inline: 20px;

    font-family: "Poppins";
}

div.page.eshop article.main section.category ol li{
    display: flex;
    justify-content: center;

    border: 2px solid var(--border-color);
    border-radius: 5px;
}

div.page.eshop article.main section.category ol li a{
    flex: 1;
    text-align: center;

    padding-block: 0.5em;

    color: var(--link-color);
    font-size: 0.875em;
    text-decoration: none;

    cursor: pointer;
    transition: background-color 500ms ease-out;
}
div.page.eshop article.main section.category ol li a:hover{
    background-color: var(--hover-color);
}