@font-face{
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf)
}
@font-face {
    font-family: "Gentium Book Plus";
    src: url(../fonts/Gentium_Book_Plus/GentiumBookPlus-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gentium Book Plus";
    src: url(../fonts/Gentium_Book_Plus/GentiumBookPlus-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Gentium Book Plus";
    src: url(../fonts/Gentium_Book_Plus/GentiumBookPlus-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gentium Book Plus";
    src: url(../fonts/Gentium_Book_Plus/GentiumBookPlus-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}


:root{
    --bg-color: rgb(1, 43, 54);
    --text-color: rgb(131, 148, 150);
    --hover-color: rgb(7, 54, 67);
    --border-color: rgb(3, 64, 83);

    --link-color: rgb(227, 121, 52);
    --header-color: rgb(140, 160, 165);
    --attention-color: rgb(211, 54, 130);
}

h1,
h2,
h3{
    color: var(--header-color);
}


html{
    background: var(--bg-color);

    font-family: "Gentium Book Plus";
    color: var(--text-color);
    font-size: 1.25em;

    scroll-behavior: smooth;
}

body{
    max-width: 1024px;
    margin: 0 auto;
}


header{
    display: flex;
    flex-direction: column;

    font-family: "Poppins";
}

header nav.menu{
    display: flex;
    justify-content: space-between;
}

header nav.menu a.home{
    padding: 0.75em 1em;

    color: var(--link-color);
    text-underline-offset: 0.1875em;
    
    transition: background-color 500ms ease-out;
}
header nav.menu a.home:hover{
    background-color: var(--hover-color);
}

header nav.menu a.cart{
    display: flex;
    align-items: center;

    padding-inline: 20px;

    color: rgb(133, 153, 0);
    text-decoration: none;

    transition: background-color 500ms ease-out;
}
header nav.menu a.cart:hover{
    background-color: var(--hover-color);
}

header nav.menu a.cart svg{
    width: 28px;
    height: 28px;

    margin-inline-end: 2px;

    fill: rgb(133, 153, 0);
}

header nav.menu button{
    margin: 0;
    border: none;
    padding: 0 20px;

    background: none;

    cursor: pointer;
    transition: background-color 500ms ease-out;
}
header nav.menu button:hover{
    background-color: var(--hover-color);
}

header nav.menu button svg{
    display: none;

    width: 42px;
    height: 42px;
}
header nav.menu button[data-menu="off"] svg.open{
    display: block;

    fill: green;
}
header nav.menu button[data-menu="on"] svg.close{
    display: block;

    fill: red;
}

header nav.menu-list{
    max-height: 0;
    overflow: hidden;
    
    border-bottom: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    
    transition: max-height 1s ease-out;
}

header nav.menu-list ul{
    width: 60%;
    
    margin: 0 auto 1em;
    padding-inline-start: 0;
}

header nav.menu-list ul li{
    display: flex;

    border-bottom: 1px solid var(--border-color);
}

header nav.menu-list ul li a{
    flex: 1;
    text-align: center;

    padding-block: 0.75em 0.5em;

    color: var(--text-color);
    font-size: 0.875em;
    text-decoration: none;

    transition: background-color 500ms ease-out;
}
header nav.menu-list ul li a:hover{
    background-color: var(--hover-color);
}


main{
    display: flex;
    flex-direction: column;

    position: relative;
}

main div.overlay{
    display: none;
}
main div.overlay[data-menu="on"]{
    display: block;

    position: absolute;
    inset: 0;

    background: var(--bg-color);
    opacity: 0.8;
}

main div.page{
    max-width: 824px;
    width: 100%;
    margin: 0 auto;
}
main div.page h1{
    text-align: center;
}


footer{
    text-align: center;

    border-top: 4px solid var(--border-color);

    font-family: "Poppins";
}
footer a{
    display: block;

    padding-block: 1em;

    color: var(--link-color);
    text-underline-offset: 0.1875em;

    transition: background-color 500ms ease-out;
}
footer a:hover{
    background-color: var(--hover-color);
}
